.time{
    font-size: 12px;
    color: #bdbdbd;
}
.head-box{
    height: 15px;
    width: 15px;
    display:flex;
    align-items:center;
    justify-content:center;
}
.head-img{
    width:100%;
    height:auto;
}