.message{
    margin: 8px;
    font-size: 20px;
}
.time{
    font-size: 12px;
}
.autoenter{
    word-wrap:break-word;
}
.myrow {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
}
.myrow > [class*='col-'] {
    display: flex;
    flex-direction: column;
}
.textongroung{
    position: absolute;
    bottom: -5px;
    right: 5px;
}
.disappear{
    display: none;
}
