.login_panel{
    margin-top: 150px;
    background: rgba(255, 255, 255, 0.8);
}
.login_sign{
    margin-top: 20px;
    margin-bottom: 0px;
}
.no_bottom{
    margin-bottom: 0px;
}
.bg {
    background:url("/img/login-bg-autumn.jpg") no-repeat;
    background-size:110%;
}
.register_bg {
    background:url("/img/register-bg.jpg") no-repeat;
    background-size:100%;
}
