/*分页new_page*/
.ht-page {
  padding: 30px;
  text-align: center;
}

.ht-page span {
  vertical-align: middle;
}

.ht-page a {
  text-decoration: none;
  color: #555;
  outline: none;
}

.ht-page .pagebtn {
  width: 52px;
  height: 30px;
  background: #1875f0;
  border: 0;
  border-radius: 4px;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
}

.ht-page .pagebtn:hover {
  background: #1875f0;
}

.ht-page .previous {
  display: inline-block;
  height: 30px;
  line-height: 30px;
  border: 1px solid #e9e9e9;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  background: url("/img/page_left_img.png") no-repeat center;
}

.ht-page .previous.disable {
  display: inline-block;
  padding: 0 15px;
  background:  no-repeat center;
  cursor: default;
}

.ht-page .previous.disable:hover {
  background:  no-repeat center;
}

.ht-page .previous:hover {
  background: url("/img/page_left_hover_img.png") no-repeat center;
}

.ht-page .previous a {
  display: inline-block;
  height: 30px;
  line-height: 30px;
  padding: 0 15px;
}

.ht-page .next {
  display: inline-block;
  height: 30px;
  line-height: 30px;
  border: 1px solid #e9e9e9;
  border-left: 0;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  background: url("/img/page_right_img.png") no-repeat center;
}

.ht-page .next:hover {
  background: url("/img/page_right_hover_img.png") no-repeat center;
}

.ht-page .next.disable {
  display: inline-block;
  padding: 0 15px;
  cursor: default;
  background: no-repeat center;
}

.ht-page .next.disable:hover {
  background: no-repeat center;
}

.ht-page .next a {
  display: inline-block;
  height: 30px;
  line-height: 30px;
  padding: 0 15px;
}

.ht-page .num {
  display: inline-block;
  height: 30px;
  line-height: 30px;
  border: 1px solid #e9e9e9;
  border-left: 0;
}

.ht-page .num.current {
  padding: 0 15px;
  background: #b0b0b0;
}

.ht-page .num a {
  display: inline-block;
  height: 30px;
  line-height: 30px;
  padding: 0 15px;
}

.ht-page .num a:hover {
  color: #555;
  background: #d3d3d3;
}

.ht-page .dots {
  display: inline-block;
  height: 30px;
  line-height: 30px;
  border: 1px solid #e9e9e9;
  border-left: 0;
  padding: 0 15px;
}

.ht-page .total {
  margin-left: 20px;
  margin-right: 10px;
}

.ht-page .total.total_page {
  margin-left: 5px;
  margin-right: 5px;
}

.ht-page .page_jump {
  margin: 0 10px;
}

.ht-page .pageInput {
  width: 50px;
  height: 30px;
  border: 1px solid #e9e9e9;
  outline: none;
  border-radius: 4px;
  text-align: center;
}

.ht-page .pageInput:focus {
  border: 1px solid #1875f0;
}

@media screen and (max-width: 799px) {
  .ht-page {
    padding: 10px 0;
  }
  .ht-page .num, .ht-page .dots, .ht-page .total {
    display: none;
  }
  .ht-page .num.current {
    display: inline-block;
    padding: 0 10px;
  }
  .ht-page .total.total_page {
    display: inline-block;
  }
  .ht-page .pageInput, .ht-page .pagebtn {
    width: 40px;
  }
  .ht-page .pagebtn {
    display: none;
  }
  .ht-page .page_jump {
    margin: 0 5px;
  }
}