<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" lang="en" layout:decorate="~{base}">
<head>
    <meta charset="UTF-8">
    <title>全部板块</title>
    <link rel="stylesheet" href="/css/index.css">
    <script src="/js/allblock.js"></script>
</head>

<body onload="changeCurrentPage()">
<div layout:fragment="content">

    <section class="content-header">
        <h1>
            全部板块
        </h1>
        <ol class="breadcrumb">
            <li><a href="/"><i class="fa  fa-arrow-right"></i> 主页</a></li>
            <li><a href="/allblock">全部板块</a></li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="col-md-8 col-md-offset-1">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title" th:text="${block1.getName()}"></h3>

                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="" data-original-title="Collapse">
                            <i class="fa fa-minus"></i></button>
                        <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="" data-original-title="Remove">
                            <i class="fa fa-times"></i></button>
                    </div>
                </div>
                <div class="box-body" th:text="${block1.getIntroduction()}"></div>
                <!-- /.box-body -->
                <div class="box-footer">
                    <a class="btn btn-primary" href="/allblock/childblock?block=1">进入板块</a>
                </div>
                <!-- /.box-footer-->
            </div>
        </div>

        <div class="col-md-8 col-md-offset-1">
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title" th:text="${block2.getName()}"></h3>

                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="" data-original-title="Collapse">
                            <i class="fa fa-minus"></i></button>
                        <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="" data-original-title="Remove">
                            <i class="fa fa-times"></i></button>
                    </div>
                </div>
                <div class="box-body" th:text="${block2.getIntroduction()}"></div>
                <!-- /.box-body -->
                <div class="box-footer">
                    <a class="btn btn-info" href="/allblock/childblock?block=2">进入板块</a>
                </div>
                <!-- /.box-footer-->
            </div>
        </div>

        <div class="col-md-8 col-md-offset-1">
            <div class="box box-warning">
                <div class="box-header with-border">
                    <h3 class="box-title" th:text="${block3.getName()}"></h3>

                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="" data-original-title="Collapse">
                            <i class="fa fa-minus"></i></button>
                        <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="" data-original-title="Remove">
                            <i class="fa fa-times"></i></button>
                    </div>
                </div>
                <div class="box-body" th:text="${block3.getIntroduction()}"></div>
                <!-- /.box-body -->
                <div class="box-footer">
                    <a class="btn btn-warning" href="/allblock/childblock?block=3">进入板块</a>
                </div>
                <!-- /.box-footer-->
            </div>
        </div>

        <div class="col-md-8 col-md-offset-1">
            <div class="box box-danger">
                <div class="box-header with-border">
                    <h3 class="box-title" th:text="${block4.getName()}"></h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="" data-original-title="Collapse">
                            <i class="fa fa-minus"></i></button>
                        <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="" data-original-title="Remove">
                            <i class="fa fa-times"></i></button>
                    </div>
                </div>
                <div class="box-body" th:text="${block4.getIntroduction()}"></div>
                <!-- /.box-body -->
                <div class="box-footer">
                    <a class="btn btn-danger" href="/allblock/childblock?block=4">进入板块</a>
                </div>
                <!-- /.box-footer-->
            </div>
        </div>
    </section>
    <!-- /.content -->



</div>


</body>
</html>