<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" lang="en" layout:decorate="~{base}">
<head>
    <meta charset="UTF-8">
    <title th:text="${parent}"></title>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/pagination.css">
</head>
<body onload="changeCurrentPage()">

<div layout:fragment="content">

    <section class="content-header">
        <h1 th:text="${parent}">
        </h1>
        <ol class="breadcrumb">
            <li><a href="/"><i class="fa  fa-arrow-right"></i> 主页</a></li>
            <li><a href="/allblock">全部板块</a></li>
            <li><a href="/allblock" th:text="${parent}"></a></li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content" id="content">

    </section>
    <!-- /.content -->
    <div class="ht-page col-md-8"></div>
    <!--翻页插件-->
    <script src="/js/pagination.js"></script>
    <script src="/js/childblock.js"></script>
    <script  th:inline="javascript">
        var total = [[${total}]];
        var pageIndex = [[${pageIndex}]];
        var parent = [[${parentid}]];
        /*
        * 定义回掉函数
        * @param  number:跳转页
        * */
        function pageChange(i) {

            Pagination.Page($(".ht-page"), i, total, 4);
            getBlock(parent,i+1);
        }
        /*
        * 初始化插件
        * @param  object:翻页容器对象
        * @param  function:回调函数
        * */
        Pagination.init($(".ht-page"), pageChange);

        /*
        * 首次调用
        * @param  object:翻页容器对象
        * @param  number:当前页
        * @param  number:总页数
        * @param  number:每页数据条数
        * */
        Pagination.Page($(".ht-page"), pageIndex-1, total, 4);
        getBlock(parent,pageIndex);
    </script>
</div>


</body>
</html>