<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" lang="en" layout:decorate="~{base}">
<head>
    <meta charset="UTF-8">
    <title>论坛主页</title>
    <link rel="stylesheet" href="css/index.css">
</head>
<body onload="getChart(monthNum)">

<div layout:fragment="content">

    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            论坛主页
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa  fa-arrow-right"></i> 主页</a></li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <!-- Info boxes -->
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon"><img class="box-icon" th:src="${block1.getHeadimg()}"/></span>
                    <div class="info-box-content box-content">
                        <strong><span class="box-head" th:text="${block1.getName()}" /></strong><br>
                        <small>帖数:<span th:text="${block1.getId()}" /></small>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <!-- /.col -->
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon"><img class="box-icon" th:src="${block2.getHeadimg()}"/></span>
                    <div class="info-box-content box-content">
                        <strong><span class="box-head" th:text="${block2.getName()}"/></strong><br>
                        <small>帖数:<span th:text="${block2.getId()}"/></small>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <!-- /.col -->
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon"><img class="box-icon" th:src="${block3.getHeadimg()}"/></span>
                    <div class="info-box-content box-content">
                        <strong><span class="box-head" th:text="${block3.getName()}"/></strong><br>
                        <small>帖数:<span th:text="${block3.getId()}"/></small>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <!-- /.col -->
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon"><img class="box-icon" th:src="${block4.getHeadimg()}"/></span>
                    <div class="info-box-content box-content">
                        <strong><span class="box-head" th:text="${block4.getName()}"/></strong><br>
                        <small>帖数:<span th:text="${block4.getId()}"/></small>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->

        <div class="col-md-8">
            <div class="col-md-6">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <i class="fa fa-bar-chart-o"></i>

                        <h3 class="box-title">Donut Chart</h3>

                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                        </div>
                    </div>
                    <div class="box-body">
                        <div id="donut-chart" style="height: 300px; padding: 0px; position: relative;">
                            <canvas id="myChart"></canvas>
                        </div>
                    </div>
                    <!-- /.box-body-->
                </div>
            </div>
            <div class="col-md-6">
                <!-- USERS LIST -->
                <div class="box box-danger">
                    <div class="box-header with-border">
                        <h3 class="box-title">Latest Members</h3>

                        <div class="box-tools pull-right">
                            <span class="label label-danger">New Members</span>
                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i>
                            </button>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body no-padding">
                        <ul class="users-list clearfix">
                            <li th:each="user:${lastUser}">
                                <img th:src="${user[1]}" alt="User Image">
                                <a class="users-list-name" href="#" th:text="${user[0]}"></a>
                                <span class="users-list-date" th:text="${user[2]}"></span>
                            </li>
                        </ul>
                        <!-- /.users-list -->
                    </div>
                    <!-- /.box-body -->

                </div>
                <!--/.box -->
            </div>
            <!-- /.col -->

        </div>

        <div class="col-md-4">
            <!-- Info Boxes Style 2 -->
            <div class="info-box bg-aqua">
                <span class="info-box-icon"><i class="ion-ios-chatbubble-outline"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">帖子数</span>
                    <span class="info-box-number" th:text="${postNum}"></span>

                    <div class="progress">
                        <div class="progress-bar" style="width: 40%"></div>
                    </div>
                    <span class="progress-description">

                  </span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
            <div class="info-box bg-green">
                <span class="info-box-icon"><i class="ion ion-ios-heart-outline"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">回复数</span>
                    <span class="info-box-number" th:text="${responseNum}"></span>

                    <div class="progress">
                        <div class="progress-bar" style="width: 20%"></div>
                    </div>
                    <span class="progress-description">

                  </span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
            <div class="info-box bg-yellow">
                <span class="info-box-icon"><i class="fa fa-map"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">板块数</span>
                    <span class="info-box-number" th:text="${blockNum}"></span>

                    <div class="progress">
                        <div class="progress-bar" style="width: 50%"></div>
                    </div>
                    <span class="progress-description">

                  </span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->

            <div class="info-box bg-red">
                <span class="info-box-icon"><i class=" fa fa-user"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">用户数</span>
                    <span class="info-box-number" th:text="${userNum}"></span>

                    <div class="progress">
                        <div class="progress-bar" style="width: 70%"></div>
                    </div>
                    <span class="progress-description">

                  </span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->

        </div>
    </section>
    <!-- /.content -->

    <!-- ChartJS -->
    <script src="/libs/chart.js/Chart.min.js/"></script>
    <script src="/js/index.js"></script>
    <script th:inline="javascript">
        var monthNum = [[${monthNum}]];
    </script>

</div>


</body>
</html>