<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" lang="en" layout:decorate="~{base}">
<head>
    <meta charset="UTF-8">
    <title>查看帖子</title>
    <link rel="stylesheet" href="/css/board.css" >
    <link rel="stylesheet" href="/css/pagination.css">
</head>

<body>
<div layout:fragment="content">

    <section class="content-header">
        <h1 th:text="${postname}"></h1>
        <ol class="breadcrumb">
            <li><a href="/"><i class="fa  fa-arrow-right"></i> 主页</a></li>
            <li><a href="/allblock">全部板块</a></li>
            <li><a href="/allblock">查看帖子</a></li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content" id="content">

    </section>
    <!-- /.content -->


    <div class="ht-page col-md-8"></div>

    <div class="panel panel-primary col-lg-8  col-lg-offset-2 " id="inputform">
        <div class="panel-heading text-center">回复</div>
        <!-- 输入框-->
        <form class="form-horizontal panel-body col-lg-6 col-lg-offset-3" action="submit" name="inputForm" method="post">
            <div class="form-group" id="divcontent">
                <label class="control-label">内容</label>
                <div>
                    <input type="hidden" name="postid" th:value="${postid}"></input>
                </div>
                <div>
                    <textarea class="form-control" rows="3" name="content" placeholder="说点什么呢..." onblur="checkcontent()"></textarea>
                </div>
                <span class="help-block" id="check_content_result"></span>
                <span id="content_sign"></span>
            </div>
            <div class="form-group">
                <div>
                    <input type="button" class="btn btn-default col-lg-offset-1" value="留言" onmousedown="tosubmit()"></input>
                </div>
            </div>
        </form>
    </div>
    <script src="/js/board.js"></script>
    <script src="/libs/jquery/dist/jquery.min.js"></script>
    <!--翻页插件-->
    <script src="/js/pagination.js"></script>
    <script  th:inline="javascript">
        var total = [[${total}]];
        var pageIndex = [[${pageIndex}]];
        var postid = [[${postid}]];
        var isAdmin = [[${session.isAdmin}]];
        /*
        * 定义回掉函数
        * @param  number:跳转页
        * */
        function pageChange(i) {
            Pagination.Page($(".ht-page"), i, total, 5);
            getResponse(postid,i+1,isAdmin);
        }
        /*
        * 初始化插件
        * @param  object:翻页容器对象
        * @param  function:回调函数
        * */
        Pagination.init($(".ht-page"), pageChange);

        /*
        * 首次调用
        * @param  object:翻页容器对象
        * @param  number:当前页
        * @param  number:总页数
        * @param  number:每页数据条数
        * */
        Pagination.Page($(".ht-page"), pageIndex-1, total, 5);
        getResponse(postid,pageIndex,isAdmin);
    </script>

</div>


</body>
</html>
